.container {
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  background-color: white;
}
.login-header {
  width: 90%;
  height: 30vh;
}

.login-form {
  width: 90%;
  height: 70vh;
}

.login-header > .logo {
  width: 100%;
  height: 60%;
}
.login-header > .title {
  width: 100%;
  height: 40%;
  padding-left: 1rem;
}

.login-header > .title > .text {
  width: 70%;
}

.login-header > .title > .picture {
  width: 30%;
}

.login-header > .title > .picture > .feature {
  width: 50%;
  animation: animatedFeature 2s ease-in-out infinite forwards;
}

.login-header > .logo > .logo-picture {
  width: 50%;
  height: auto;
  animation: animatedLogo 3s ease-in-out forwards;
  opacity: 0;
}

/* Form part */
.login-form > .note {
  background-color: var(--lightBlue);
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
  color: var(--darkBlue);
}

.login-form > .note > .icon {
  height: 100%;
  width: 10%;
}

.login-form > .form {
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

@keyframes animatedLogo {
  from {
    opacity: 0;
    transform: translateY(-200px) skewX(10deg) skewY(10deg) rotateZ(100deg);
    filter: blur(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px) skewX(0deg) skewY(0deg) rotateZ(0deg);
    filter: blur(0px);
  }
}

@keyframes animatedFeature {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (min-width: 768px) {
  .login-header,
  .login-form {
    width: 40%;
  }

  .login-header > .logo > .logo-picture {
    width: 40%;
    height: auto;
  }
  .login-header > .title > .picture > .feature {
    width: 25%;
  }
}
